.divider-vertical{
  height: 30px;
  background-color: var(--border-color);
  width: 1px;
}

.fs-7{
  font-size: 14px;
}

.fs-8{
  font-size: 12px;
}

.theme-color{
  color: var(--theme-color);
}


.resize-no{
  resize: none;
}